.name{
    font-family: monospace;
    margin-bottom: 1.5%;
    margin-top: 3%;
    

    ::placeholder{
        font-family: monospace;
        font-size: 200%;
    }

    input{
        border-radius: 10px;
        margin-bottom: 1%;
        text-align: center;
        width: 30%;
        padding-top: 1.25%;
        padding-bottom: 1%;
    }

    @media (max-width: 800px){
        ::placeholder{
            font-size: 150%;
        }

        input{
            width: 40%;
        }
    }
    @media (max-width: 620px){
        input{
            width: 50%;
        }
    }

    @media (max-width: 400px){
        input{
            width: 60%;
        }
    }



}

.diff-label{
    margin-right: 1%;
    font-size: 200%;

    @media (max-width: 500px){
        font-size: 175%;
    }

    @media (max-width: 400px){
        font-size: 150%;
    }

}

.diff-select{
    border-radius: 10px;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: monospace;
    font-size: 150%;

    @media (max-width: 500px){
        font-size: 125%;
    }

    @media (max-width: 400px){
        font-size: 100%;
    }

}

.create-btn{
    border-radius: 10px;
    margin-top: 1.5%;
    font-family: monospace;
    font-size: 250%;
    color: rgb(96, 110, 124);
    transition: box-shadow .15s,transform .15s;
    touch-action: manipulation;
    will-change: box-shadow,transform;
}

.create-btn:hover{
    background-color: slategray;
    color: white;
}

.create-btn:active{
    background-color: slategray;
    color: rgb(71, 82, 92);
}
