@import '../Variables/variables.scss';

.bck-btn{
    margin: auto;
    margin-top: 5%;
}
.create-game{
    margin: auto;
    font-family: monospace;
    align-items: center;
    text-align: center;
    color: slategray;
    background: $greyColor;
    padding-bottom: 5%;

    h1{
        font-size: 500%;
        border-bottom: solid;
        width: 80%;
        margin-left:  auto;
        margin-right: auto;
        padding-top: 5%;
    }
}