.leadercomp{
    h1{
        font-size: 500%;
        @media(max-width: 720px){
            font-size: 450%;
        }

        @media(max-width: 680px){
            font-size: 400%;
        }

        @media(max-width: 640px){
            font-size: 350%;
        }

        @media(max-width: 500px){
            font-size: 300%;
        }

    }
}

.top-scores{
    width: 25%;
    text-align: center;
    align-items: center;
    margin: auto;
    @media(max-width: 720px){
        width: 30%;
    }

    @media(max-width: 630px){
        width: 35%;
    }

    @media(max-width: 560px){
        width: 40%;
    }

    @media(max-width: 500px){
        width: 45%;
    }

    @media(max-width: 450px){
        width: 50%;
    }

    @media(max-width: 400px){
        width: 55%;
    }

    @media(max-width: 350px){
        width: 60%;
    }





}

.player_name{
    padding-bottom: 0.5em;
    border-bottom-style: dotted;
    padding-top: 0.5em;
}

.select-difficulty{
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    text-align: center;
    color: slategray;
}

.select-catagory{
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
    font-size: 100%;
    text-align: center;
    color: slategray;
    @media(max-width: 750px){
        width: 25%
    }

    @media(max-width: 600px){
        width: 30%
    }

    @media(max-width: 500px){
        width: 35%
    }

    @media(max-width: 450px){
        width: 40%
    }

    @media(max-width: 400px){
        width: 45%
    }




}

.label-difficulty{
    padding-right: 0.5em;
    font-size: 150%;
}

.label-catagory{
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-left: solid;
    margin-left: 0.5em;
    font-size: 150%;
}

.parameter_selection{
    width: 80%;
    margin: auto;
}

.tiny-parrot{
    width: 15%;
}

.title-parrot{
    @media(max-width: 720px){
        width: 100%;
    }

    @media(max-width: 680px){
        width: 95%;
    }

    @media(max-width: 640px){
        width: 90%;
    }

    @media(max-width: 500px){
        width: 85%;
    }

}