@import '../Variables/variables.scss';

.lbpage{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: lightslategray;
    background: $greyColor;


}

.bck-btn{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}


